<section class="hero is-light is-fullheight">
  <h4 class="title has-text-centered">BeautyShare</h4>
  <% if params[:user_id].nil? %>
    <div class="hero-body">    
      <div class="container has-text-centered">    
        <%= render 'search_form' %>
      </div>
    </div>
  <% else %>
    <div class="container has-text-centered">
      <div class="container has-text-centered">
        <%= render 'search_form' %>
      </div>
      <% if params[:user_id].empty? %>
        <div class="m-2 container has-text-centered">
          Flickr API Searcher is displaying latest public photos uploaded to Flickr
        </div>
      <% else %>
        <div class="m-2 container has-text-centered">
          Flickr API Searcher is displaying public photos uploaded by <strong><%= params[:user_id] %></strong>
        </div>
      <% end %>
    </div>
  <div id="user" class="mt-2 box container has-text-centered">
    <div id="user-info">
      <% @photos.each do |photo| %>
        <div class="col-md-auto">
          <img src="<%= Flickr.url_n(photo) %>"/>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</section> 